@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primary-500: hsl(158, 36%, 37%);
    --color-primary-700: hsl(158, 42%, 18%);


    --color-neutral-black: hsl(212, 21%, 14%);
    --color-neutral-grey: hsl(228, 12%, 48%);
    --color-neutral-cream: hsl(30, 38%, 92%);
    --color-neutral-white: hsl(0, 0%, 100%);

    --font-family-montserrat: "Montserrat", sans-serif;
    --font-family-fraunces: "Fraunces", serif;

    --font-size-min: 0.31rem;
}

